<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink='/services'>Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/teams'>Teams</a>
            </li>
        </ul>
    </div>
</nav>
<!-- <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink='/services'>Services</a>
    </li>
            <li class="nav-item">
      <a class="nav-link" routerLink='/teams'>Teams</a>
    </li>
        </ul> -->

<!-- <a routerLink='/services'>Services</a>
<a routerLink='/teams'>Teams</a> -->